@model InjectApp.Models.InjectModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InView</title>
</head>
<body>
    <div>
        
        @Html.Raw(Model.InjectImageLink);
            
        <img src="@Model.ImageLink" />
    </div>
</body>
</html>
